.earth {
    background-image: url('/earth.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.apexcharts-tooltip {
    pointer-events: auto !important;
    z-index: 9999 !important;
}